    
  /*body*/
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
  
  .flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 195px;
    perspective: 1000px;
    float: left;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: red;
    color: white;
    transform: rotateY(180deg);
  }
  
  h1{
    font-size: x-small;
    font-weight: bold;
  }
  p{
    font-size: x-small;
  }
  .img
  {
    width:200px;
    height:200px;

  }
  
  a{
    font-size: x-small;
  }
  button{
      color: red;
  }
  .new{
      color: red;
      font-size: x-large;
      font-weight: bold;
      text-align: center;
  }
  #img1{
      margin-left: 650px;
  }