footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-top: 2%;
  background-color: #004466;
  color: #fff;
  font-size: .9rem;
}

.container {
  padding: 2px 16px;
}

header {
  background-color: #0044664c;
  padding: .5rem 0 .5rem 2%;
}

header h1,
header h2 {
  color: white;
}
div.scrollmenu a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  /* background-color: #666; */
}
.scrollmenu{
  background-color: #666;
}
.active {
  background-color: rgb(126, 127, 130);
}

header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

header h2 {
  font-size: .75rem;
  font-weight: 400;
  padding-top: .2rem;
}

#main-body {
  position: relative;
  top: 100px;
}

/* MAIN  */
main {
  min-height: 5em;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #666;
  background-color: #fff;
}